<ion-header>
  <ion-toolbar color="mycolor">
    <ion-title>Ticketazo!</ion-title>
  </ion-toolbar>
  <ion-searchbar animated="true" placeholder="Buscar"></ion-searchbar>
</ion-header>

<ion-content>
  <ion-card>
    <img alt="Silhouette of mountains" src="../../assets/conciertos-img/luisfonsi.jpg" />
    <ion-card-header>
      <ion-card-title>Luis Fonsi</ion-card-title>
      <ion-card-subtitle>25 Años Tour</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      ¡Atención Chile! Luis Fonsi vuelve a nuestro país, y esta vez lo hace con una gran e imperdible fiesta: celebrará sus 25 años de carrera.
      <ion-button (click)="goToCliente()" expand="block"><ion-icon slot="start" name="cart"></ion-icon>Comprar</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img alt="Silhouette of mountains" src="../../assets/conciertos-img/marcanto.jpg" />
    <ion-card-header>
      <ion-card-title>Marc Anthony</ion-card-title>
      <ion-card-subtitle>Historia tour 2024</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      La gran estrella de la salsa Marc Anthony regresa a Chile para mostrar todo su repertorio clásico 
      y sus nuevas canciones en un nuevo concierto que se llevará a cabo el lunes 23 y martes 24 de septiembre en el Movistar Arena.
      <ion-button (click)="goToCliente()" expand="block"><ion-icon slot="start" name="cart"></ion-icon>Comprar</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img alt="Silhouette of mountains" src="../../assets/conciertos-img/lennyk.jpg" />
    <ion-card-header>
      <ion-card-title>Lenny Kravitz</ion-card-title>
      <ion-card-subtitle>Blue Electric Light Tour 2024</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      El legendario músico estadounidense Lenny Kravitz, reconocido por grandes clásicos como Are You Gonna Go My Way, Again, I Belong To You, 
      It Ain’t Over Till It’s Over, Fly Away, American Woman, entre otros, confirma su regreso a Chile el próximo 4 de diciembre en Movistar
      Arena en el marco de la gira mundial ‘Blue Electric Light Tour 2024'.
      <ion-button (click)="goToCliente()" expand="block"><ion-icon slot="start" name="cart"></ion-icon>Comprar</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img alt="Silhouette of mountains" src="../../assets/conciertos-img/deeppurple.jpg" />
    <ion-card-header>
      <ion-card-title>Journey</ion-card-title>
      <ion-card-subtitle>+ Deep Purple</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Este próximo 𝟭𝟳 𝗱𝗲 𝘀𝗲𝗽𝘁𝗶𝗲𝗺𝗯𝗿𝗲 en el 𝗘𝘀𝘁𝗮𝗱𝗶𝗼 𝗦𝗮𝗻𝘁𝗮 𝗟𝗮𝘂𝗿𝗮, sé parte de una noche que, sin duda, 
      quedará grabada a fuego en tu memoria. Una irrepetible oportunidad de escuchar himnos del rock como  
      "Separate Ways", "Lights",  "Don't Stop Believin'" y tantos otros✨
      <ion-button (click)="goToCliente()" expand="block"><ion-icon slot="start" name="cart"></ion-icon>Comprar</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer collapse="fade">
  <ion-toolbar>
    <ion-title class="foot">Concierto</ion-title>
  </ion-toolbar>
</ion-footer>
