<ion-header>
  <ion-toolbar color="mycolor">
    <ion-title>Ticketazo!</ion-title>
  </ion-toolbar>
  <ion-searchbar animated="true" placeholder="Buscar"></ion-searchbar>
</ion-header>

<ion-content>
  <ion-card>
    <img alt="Silhouette of mountains" src="../../assets/deportes-img/laroja.jpg" />
    <ion-card-header>
      <ion-card-title>Clasificatorias 2026</ion-card-title>
      <ion-card-subtitle>30 de Diciembre 2024 - 31 de Diciembre 2026</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Venta Oficial Clasificatorias 2026. Vive todos los partidos de local de La Roja... ¡En Vivo!
      <ion-button (click)="goToCliente()" expand="block"><ion-icon slot="start" name="cart"></ion-icon>Comprar</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img alt="Silhouette of mountains" src="../../assets/deportes-img/run.jpg" />
    <ion-card-header>
      <ion-card-title>Run Beat Night</ion-card-title>
      <ion-card-subtitle>05 de Octubre 2024</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      ¡Inscríbete en el primer circuito con after run! y prepárate para vivir una aventura llena de música, Djs y un espectáculo
      tan energizante que no te lo querrás perder.
      <ion-button (click)="goToCliente()" expand="block"><ion-icon slot="start" name="cart"></ion-icon>Comprar</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img alt="Silhouette of mountains" src="../../assets/deportes-img/huachipato.jpg" />
    <ion-card-header>
      <ion-card-title>Huachipato - Abono 2024</ion-card-title>
      <ion-card-subtitle>31 de Diciembre 2024</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      ABÓNATE A HUACHIPATO, UNIDOS EN ESTA NUEVA HISTORIA. Desde hoy puedes comprar tu Abono 2024 y ser parte del nuevo camino que 
      emprende nuestro equipo en el Campeonato Nacional y Copa Chile. Ingresa, revisa los detalles y únete al Campeón del Sur. #VamosHuachipato
      <ion-button (click)="goToCliente()" expand="block"><ion-icon slot="start" name="cart"></ion-icon>Comprar</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img alt="Silhouette of mountains" src="../../assets/deportes-img/circuito.jpg" />
    <ion-card-header>
      <ion-card-title>Circuito de las Estaciones</ion-card-title>
      <ion-card-subtitle>20 de Octubre 2024</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Proveniente desde Brasil, el Circuito de las Estaciones es sinónimo de Carreras de Calles Pedestres. Actualmente es el circuito más grande de América Latina y llega a su 17º 
      año de historia siendo el principal responsable de despertar al corredor que lleva dentro cada uno. Hay 4 etapas, cada una de las cuales representa una nueva estación del año
      y un momento para buscar una nueva meta.
      <ion-button (click)="goToCliente()" expand="block"><ion-icon slot="start" name="cart"></ion-icon>Comprar</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer collapse="fade">
  <ion-toolbar>
    <ion-title class="foot">Deportes</ion-title>
  </ion-toolbar>
</ion-footer>