// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

:root {
	--ion-color-mycolor: #ffc370;
	--ion-color-mycolor-rgb: 255,195,112;
	--ion-color-mycolor-contrast: #000000;
	--ion-color-mycolor-contrast-rgb: 0,0,0;
	--ion-color-mycolor-shade: #e0ac63;
	--ion-color-mycolor-tint: #ffc97e;
}