<ion-header>
  <ion-toolbar color="mycolor">
    <ion-title>Ticketazo!</ion-title>
  </ion-toolbar>
  <ion-searchbar animated="true" placeholder="Buscar"></ion-searchbar>
</ion-header>

<ion-content>
  <ion-card>
    <img alt="Silhouette of mountains" src="../../assets/eventos-img/fonda.jpg" />
    <ion-card-header>
      <ion-card-title>Fonda Doña Flor</ion-card-title>
      <ion-card-subtitle>La fonda oficial de la florida</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Fiestas Patrias 2024, Estadio Contraloria, Andes CORDEP, La Florida. Desde el 18 al 22 de Septiembre
      <ion-button (click)="goToCliente()" expand="block"><ion-icon slot="start" name="cart"></ion-icon>Comprar</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img alt="Silhouette of mountains" src="../../assets/eventos-img/fondadoñarosa.jpg" />
    <ion-card-header>
      <ion-card-title>Fonda Doña Rosa</ion-card-title>
      <ion-card-subtitle>La Fonda Oficial de Independencia</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Fiestas Patrias 2024 18-19-20 de Septiembre, Hipodromo Chile - Independencia
      <ion-button (click)="goToCliente()" expand="block"><ion-icon slot="start" name="cart"></ion-icon>Comprar</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img alt="Silhouette of mountains" src="../../assets/eventos-img/tachuela.jpg" />
    <ion-card-header>
      <ion-card-title>Circo Pastelito y Tachuela Chico</ion-card-title>
      <ion-card-subtitle>La Gran Fiesta</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      En Fiestas Patrias el mejor panorama para la familia 
    ✨🎩🎺 “ WELCOME TO THE CIRCUS“ 🎺🎩✨
    Presentado por el circo de 
    Pastelito y tachuela Chico
    <ion-button (click)="goToCliente()" expand="block"><ion-icon slot="start" name="cart"></ion-icon>Comprar</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img alt="Silhouette of mountains" src="../../assets/eventos-img/circo.jpg" />
    <ion-card-header>
      <ion-card-title>Cirque du Soleil</ion-card-title>
      <ion-card-subtitle>Crystal</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      desafía los límites de tu imaginación con Cirque Du Soleil Crystal, 24 de Octubre en Movistar Arena ¡VEN A VIVIR EL CRYSTAL EXPERIENCE! Auspicia Samsung
      <ion-button (click)="goToCliente()" expand="block"><ion-icon slot="start" name="cart"></ion-icon>Comprar</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer collapse="fade">
  <ion-toolbar>
    <ion-title class="foot">Eventos</ion-title>
  </ion-toolbar>
</ion-footer>